<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Bill</title>
    <link href="/resources/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
Bill History
<table align="center" border=1>
    <tr>
        <th>OrderId</th>
        <th>PurchaseDate</th>
    </tr>
    <tr th:each="bill : ${billList}">
        <td><span th:text="{bill.getOrderId()}"></span></td>
        <td><span th:text="bil.getPurchaseDate()}"></span></td>

    </tr>

</table>

<form method="POST" name="next" th:action="@{/generateBill}">

    <button name="next" type="submit">Generate Bill</button>
</form>
<br>
<form method="GET" name="home" th:action="@{/home}">
    <button name="home" type="submit">Home</button>
</form>
</body>
</html>