<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Category</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>
<body>

<p>Hi There, It is required that only number and decimal format are accepted
<p>

    <br> Please go to
<form method="get" name="home" th:action="@{/home}">
    <button class="b" name="home" type="submit">GoToHome</button>
</form>

</body>


</html>