<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Category</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>
<body>
<h1>Inventory-Billing</h1>
<form action="categoryPage" method="GET">
    <button type="submit">Category Page</button>
</form>
<br>
<form action="itemPage" method="GET">
    <button type="submit">Item Page</button>
</form>
<br>
<form action="billing" method="GET">
    <button type="submit">Billing Page</button>
</form>
</body>
</html>