<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Category</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>
<body>

<p>
    Hi There, This item is already added,<br> if you want to update
    quantity while generating bill <br> You can Update
<p>
    <br> <br>
<form method="GET" th:action="@{/billing}">
    <button name="back" type="submit">Go Back</button>

</form>
</body>
</html>